################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea/.idea.FSharpTest/.idea/.gitignore
/.idea/.idea.FSharpTest/.idea
/.vs/FSharpTest/DesignTimeBuild
/.vs/FSharpTest/FileContentIndex
/.vs/FSharpTest/v17
/EtoApp1
/.vs/ProjectEvaluation/fsharptest.projects.v2
/.vs/ProjectEvaluation/fsharptest.metadata.v2
/.vs/ProjectEvaluation
/FSharpTest/bin/Debug/net6.0/shining-weft-357007-be23f8a918cf.json
/FSharpTest/bin/Debug/net6.0/shining-weft-357007-e1d4aee15495.json
/FinanceTerm
/FSharpTest/bin/Debug/net6.0
